.faithIntroContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

/* .faithContainer {
    display: flex;
    justify-content: center;
} */

.faithText  {
    /* display: flex; */
    text-align: center;
    margin-bottom: 3rem;
}

/* .faithAbout {
    display: flex;
} */

