.faithAbout {
    margin: 7rem;
    
}

.faithText {
    text-align: center;
    flex-wrap: wrap;
    background-color: white;
    border: double black;
    box-shadow: 0px 0px 10px rgb(112 112 112);
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.faithList {
    margin-top: 0px;
}

