.topHikeInfo {
    display: flex;
    background-color: white;
    border: double black;
    box-shadow: 0px 0px 10px rgb(112 112 112);
}

.hikePeak {
    margin: 2rem;
}
 
.hikeInfo {
    padding-right: 2rem;
    padding-top: 2rem;
}

