.nav {
    background-color: red;
}

.header {
    text-align: center;
}

.flex {
    display: flex;
    display: flex;
    margin-left: 10em;
    border: 1px red solid;
}

.second-img {
    max-width: 19rem;
}