.mainNavContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}

.navTextContainer {
    display: block;
}

.header {
    text-align: center;
}

.flex {
    display: flex;
    display: flex;
    margin-left: 10em;
    border: 1px red solid;
    max-width: 50rem;
}

.second-img {
    max-width: 19rem;
}